{% extends _layout %}

{% block title %}Ajouter maladie{% endblock %}

{% block content %}
	<h1 class="blue-text">Patients</h1>

	<div class="row section">


		{{ material_form_start('Patient', {
			"title" : "Ajout des symptômes d'un patient",
			"method": "post",
			"action": "patients.add",
		}) }}


		<div class="row">
			
			{{ material_form_select("fievre", {

				"opt": {
					"non": "Non",
					"oui": "Oui",
				},
				"label": "Fièvre",
				"class": "validate",
			}) }}

			{{ material_form_select("douleur", {

				"opt": {
					"non": "Non",
					"abdomen": "Abdomen",
					"gorge": "Gorge",
				},
				"label": "Douleur",
				"class": "validate",
			}) }}


			{{ material_form_select("toux", {
				"opt": {
					"non": "Non",
					"oui": "Oui",
				},
				"label": "Toux",
				"class": "validate",
			}) }}



			{{ material_form_select( "maladie", {
				"opt": maladies,
				"label": "Maladie",
				"class": "validate",
			}) }}


		</div>


		{{ material_form_submit("Ajouter", {
			"class": "col offset-s7 s5 offset-m7 m3 offset-l6 l3",
			"icon" : "send",
		}) }}

		{{ material_form_end() }}

	</div>

{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {

			$('select').material_select();

		});
	</script>
{% endblock %}